* text=auto eol=lf

*.ps1  text eol=crlf
*.psm1 text eol=crlf
*.bat  text eol=crlf
*.cmd  text eol=crlf

*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary
*.pdf  binary
*.zip  binary
*.nupkg binary
*.snupkg binary
*.dll  binary
*.pdb  binary
